*{
    box-sizing: border-box;
}

body{
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/03/30/cyan-and-ruby-red-tunnels-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    -webkit-backdrop-filter: blur(14px);
    backdrop-filter: blur(14px);
    margin: 0;
}

main{
    min-height: 100vh;
}

header{
    background-color: rgb(37, 198, 194, 43%);
    position: sticky;
    top: 0%;
    z-index: 50;
    transition: all 0.3s ease-in;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fas{
    transform: scale(1.6);
}