*{
    box-sizing: border-box;
}

body{
    background-image: url('https://free4kwallpapers.com/uploads/originals/2020/03/30/cyan-and-ruby-red-tunnels-wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    /* -webkit-backdrop-filter: blur(14px); */
    backdrop-filter: blur(14px);
    margin: 0;
}

/* Navbar */
header{
    background-color: rgb(37, 198, 194, 43%);
    position: sticky;
    top: 0%;
    z-index: 50;
    transition: all 0.3s ease-in;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: center;
}

.fas{
    transform: scale(1.6);
}

.scroll-active{
    background-color: #000000f0;
    color: aliceblue;
}

main{
    min-height: 100vh;
}

/* Available Content Heading */
#availableContent{
    /* margin-left: 30%; */
    font-size: 35px;
    background-color: #5492bb80;
    border-radius: 5px;
    /* width: 400px; */
    margin: 100px 30% 0;
    padding: 20px;
    text-align: center;
}

/* Item's Section */
.sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1em;
    flex-wrap: wrap;
    /* width: 1000px; */

}

.item{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    border-radius: 5px;
    margin: 60px 20px 0px;
    min-width: 400px;
    height: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.item h3{
    background-color: rgba(255, 0, 34, 0.336);
    margin: 0;
    margin-bottom: 2px;
    height: 50px;
    line-height: 40px;

}

.item-img{
    width: 400px;
    /* height: 400px; */
    /* object-fit: contain; */
    /* height: 85%; */
}

.item-img img{
    max-width: 100%;
}



/* Item Details  */
.item-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(255, 0, 34, 0.336);
    /* padding-bottom: 40px; */
    height: 60px;
    font-weight: 600;
    font-size: 20px;
}













/* Footer */
a{
    text-decoration: none;
    color: rgb(201, 192, 192);
}

a:hover{
    color: white;
}

.sec-footer{
    height: 24rem;
    margin-top: 10rem;
    background: rgba(0 ,0 ,0 , 71%); 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.social-media{
    margin-top: 1.5rem;
}

.fab{
    padding: 0rem 1rem;
    transform: scale(1.2);
    transition: all 0.25s;
}

.fab:hover{
    transform: scale(1.4);
}

.footer-other-links-item{
    padding: 0rem 1rem;
    font-size: 01rem;
}

.sec-footer h3{
    margin: 0;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.developer-contact{
    transform: translateY(40%);
}

.bingerz2021{
    color: rgb(133, 55, 165);
}














@media (max-width: 520px){
    .sec-footer {
        height: 14rem;
        margin-top: 4rem;
    }

    .footer h3{
        font-size: 1rem;
    }

    .fab{
        transform: scale(1.5);
        padding: 0rem 0.8rem;
    }

    .footer-other-links-item {
        font-size: 0.7rem;
        padding: 0rem .3rem;
    }
}